.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
@media screen and (max-width: 1200px){
    .main{
        justify-content: flex-start;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 768px){
    .main{
        align-items: center;
    }
}
