.MuiTableRow-root>* {
    padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head>* {
    font-weight: bold !important;

}

.Table td,
th {
    border: none !important;
}

.Table:first-child {
    border-radius: 0.7rem !important;
}

.status {
    padding: 8px;
    border-radius: 9px;
}

.Details {
    color: #00b5ff !important;
}

/* responsive design */

@media screen and (max-width: 1200px) {
    .table {
        width: 170%;
        margin-top: 6rem;

    }
}

@media screen and (max-width: 768px) {
    .table {
        position: relative;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 18rem;

    }
}